
@{
    ViewData["Title"] = "Error";
}

<head>
    <link href="~/css/nlb.css" rel="stylesheet" />
</head>

<h1>Error</h1>
<hr />
<h4>@ViewBag.Exception</h4>
<p></p>
<p></p>
<a class="button" asp-controller="Project" asp-action="Index">Back to List</a>

